* {
    margin: 0px;
    box-sizing: border-box;
    margin: 0 auto;
    /*background-color: #181A1B;*/
}
body{
    margin-top: 4%;
    display: flex;
    justify-content: center;
}
#all{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    justify-items: center;
    align-items: center;
    width: 740px;
    height: 350px;
    border: 1px solid;
}
.casas{
    border: 1px solid;
}