<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>twig</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>{% block titulo %}{% endblock %}</h1>
    <p>
     <a href="fruta.php">Escolha sua fruta</a>
     |
     <a href="sociedade.php">A importância da fruta na sociedade</a>
     |
     <a href="contato.php">Contato</a>
     </p>
    <hr>
    {% block conteudo %}{% endblock %}
</body>
</html>