{% extends "base.html" %}

{% block titulo %}Compras{% endblock %}

{% block conteudo %}

<h3>Adicionar Item</h3>
<form action="compras_adc.php" method="post">
<input type="text" name="item">
<input type="submit" value="adicionar">
</form>
<hr>

<p>Esta é sua lista de compras:</p>
<ul>    
 {% for compra in compras %}
    <li> {{compra['item']}} 
    <a href="formUpdate.html">| Mudar </a>
    <a href="compras_del.php?id={{compra['id']}}">| Excluir </a>
    </li>
    {% endfor %}
</ul>   
{% endblock %}