{% extends "base.html" %}

{% block titulo %}Compromissos{% endblock %}

{% block conteudo %}


    <h3>Adicionar compromisos</h3>
    <form action="compromissos_adc.php" method="post">
    <input type="text" name="descricao"><br>
    <input type="date" name="data"><br>
    <input type="submit" value="adicionar">
    </form>
    <hr>

<p>Esta é sua lista de compromissos:</p>

<table> 
    <thead>
      <th>Descrição</th>
      <th>Data</th>
      <th>Fim de Semana</th>
  </thead>   
    {% for compromisso in compromissos %}
    <tr>
        <td>{{compromisso['descricao']}}</td>
        <td>{{compromisso['data']}}</td>
        <td>{{compromisso['fimDeSemana']}}</td>
    </tr>  
    {% endfor %} 
</table>
{% endblock %}