{% extends "base.html" %}
{% block titulo %}Importancia da fruta{% endblock %}
{% block conteudo %}
<p>As frutas desempenham um papel fundamental na sociedade, indo muito além do simples fornecimento de nutrientes essenciais para a saúde. Elas são elementos vitais na cultura, economia, saúde pública e até mesmo na preservação do meio ambiente.

<p>Em termos de saúde, as frutas são uma fonte natural e abundante de vitaminas, minerais, fibras e antioxidantes, que são essenciais para o funcionamento adequado do corpo humano. Consumi-las regularmente pode ajudar a prevenir uma série de doenças crônicas, como doenças cardíacas, diabetes e certos tipos de câncer. Além disso, elas são uma opção saudável para satisfazer os desejos de doces, fornecendo uma alternativa nutritiva aos alimentos processados e açucarados.

<p>Na sociedade, as frutas desempenham um papel significativo na cultura e nas tradições alimentares. Elas são frequentemente associadas a festivais, celebrações e rituais religiosos em muitas culturas ao redor do mundo. Além disso, muitas frutas têm significados simbólicos e são valorizadas como presentes em diversas ocasiões sociais.
{% endblock %}